@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body{
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

.login{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0px 80px 0px 80px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div{
    font-family: "Hubballi";
    font-weight: 900;
}

input{
    padding: 10px 40px 10px 10px;
    margin-top: 5px;
    border: 1px solid #bebebe;
    background-color:#ffffff;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    outline: none;
}

#botton_senha {
    position: absolute;
    right: 92px;
    background: none;
    margin-top: 12px;
    cursor: pointer;
    border: none;
    padding: 0;
}

#create {
    padding: 12px 90px;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: #5858ff;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 5px;
}

#create:hover {
    background-color: rgb(108, 108, 255);
}

.img{
    background-image: url("../img/sapato_background.jpg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    padding: 50px;
    width: 100%;
}

a{
    color: #5858ff;
}