@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

header {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0;
    background-color:#101111;
    width: 100%;
    z-index: 1000;
}

header img{
    margin-left: 20px;
}

nav{
    margin: 0 auto;
}

nav ul {
    gap: 70px;
    display: flex;
    list-style: none;
    padding: 0px 40px;
    margin: 0;
}

nav ul li{
    transition: 0.3s;
}

nav ul li:hover{
    opacity: 0.5;
}

#icon{
    padding-right: 10px;
}

nav ul li a {
    font-family: "Hubballi";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 30px;
}


header button {
    cursor: pointer;
    margin-right: 40px;
    margin-left: 45px;
    background-color: rgb(88, 88, 255);
    color: aliceblue;

    padding: 15px 25px;
    font-size: 13px;
    border: none;
    transition: 0.3s;
}

header button:hover {
    background-color: rgb(108, 108, 255);
}
