@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body{
    margin: 0;
    background-color: white;
}

#descrição{
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Hubballi";
    font-weight: 900;
    font-size: 20px;
}

#descrição div{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-image: url("../img/sapato_background.jpg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    display: flex;
    justify-content: center;
    align-items: center;    
}